input[type="button"] {
    cursor: pointer;
    border: none;
    padding: 0 10px;
    height: 30px;
    border-radius: 5px;
    
}

input[type="button"]:hover {
    text-decoration: underline;
    color: blue;
}