@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 5px auto 0;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    z-index: 1000;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 28px 28px;
    border-radius: 10px;
    width: 600px;
    height: 600px;
}

.close-modal {
    border-radius: 0 10px 0  10px ;
    position: absolute;
    top: 0px;
    right: 0px;
    border: none;
    background: red;
    padding: 5px 7px;
    cursor: pointer;
}

.post-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.modal-delete {
    display: block;
    margin: 0 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.modal-delete-icon {
    width: 30px;
    height: 30px;
}

.description {
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
}

.text-modal {
    display: flex;
    margin: 0 auto;
    align-items: center;
    gap: 5;
}

.container-text {
    display: flex;
    flex-direction: column;
}

.modal-delete-icon:hover {
    color: red;
}

@media only screen and (max-width: 600px) {
    
    .modal-content {
        position: absolute;
        top: 40%;
        left: 45%;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        background: #f1f1f1;
        padding: 14px 28px;
        border-radius: 10px;
        width: 300px;
        height: max-content;
        margin: 20px;
    }

    .modal-image {
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    .modal-image {
        width: 500px;
        height: 430px;
    }
}