.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 30px;
  padding: 30px;

}
.post img {
  background-size: cover;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .App {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}